.app-footer {
    font-size: rem(14px);
    color: $clr7;
    width: 50%;
    padding: 10px 0;

    @include for-normal-layout {
        width: 30%;
    }

    @include for-wide-layout {
        padding: 0;
        width: 45%;
    }
}