.weather-temp {
    flex-direction: column;
    padding-bottom: 25px;
    position: relative;
    height: 191px;

    .temp {
        font-size: 80px;
        color: $clr5;
        font-family: heebo-medium;

        &::after {
            content: "\00b0";
            position: absolute;
            top: -10%;
            right: 35%;
        }
    }

    .description {
        color: $clr4;
        font-size: 30px;
    }
}