.weather-hour-preview {
    .hour {
        color: $clr6;
    }

    .measure {
        font-family: heebo-medium;
        color: $clr5;

        &::after {
            content: "\00b0";
        }
    }
}