.weather-temp {
    flex-direction: column;
    padding-bottom: 25px;
    position: relative;
    height: 191px;

    .temp {
        font-size: rem(80px);
        color: $clr5;
        font-family: heebo-medium;
        height: 85px;

        &::after {
            content: "\00b0";
            position: absolute;
            top: -10%;
        }
    }

    .description {
        color: $clr4;
        font-size: rem(30px);
    }
}