.weather-hour {
    justify-content: space-between;
    padding: 0 54px 14px;
    font-size: rem(18px);

    >* {
        display: flex;
        flex-direction: column;
    }

    .hour {
        color: $clr6;
    }

    .measure {
        font-family: heebo-medium;
        color: $clr5;

        &::after {
            content: "\00b0";
        }
    }
}