.weather-title {
    flex-direction: column;
    color: $clr6;
    padding-top: 50px;
    padding-bottom: 20px;

    .weather-city {
        color: $clr4;
        font-size: rem(26px);
        font-family: heebo;
    }

    .weather-country {
        font-size: rem(22px);
    }

    .weather-date {
        font-size: rem(18px);
    }
}