@font-face {
    font-family: heebo;
    src: url(../../fonts/Heebo/static/Heebo-Regular.ttf);
}

@font-face {
    font-family: heebo-light;
    src: url(../../fonts/Heebo/static/Heebo-Light.ttf);
}

@font-face {
    font-family: heebo-medium;
    src: url(../../fonts/Heebo/static/Heebo-Medium.ttf);
}