* {
    box-sizing: border-box;
}

html {
    font-family: heebo-light;
    line-height: 1.8;
    line-height: lh(22px);

    @media (max-width: 1300px) {
        font-size: 13px;
    }
}

body {
    margin: 0;
    background-color: $clr1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0 0 1rem;
    line-height: lh(40px, 29px);
}

img {
    width: 100%;
    object-fit: cover;
}

p {
    margin: 0 0 1em;
    max-width: 60ch;
}

.root-cmp {
    margin: 54px;
    height: 85vh;
}

a {
    text-decoration: none;
    color: inherit;
}

// Scrollbar
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $clr4;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

button {
    cursor: pointer;
}